@charset "UTF-8";

/* ----------------------------------------------------------
  Checkbox
---------------------------------------------------------- */

.wpucommentmetas__checkbox {
    display: inline-block;
    z-index: 0;
    position: relative;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1;
}

.wpucommentmetas__checkbox:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px solid;
    opacity: 0.5;
}

.wpucommentmetas__checkbox .dashicons {
    width: 1em;
    height: 1em;
    font-size: 1em;
}
